<!DOCTYPE html>
<html lang="ja">
<head>
<script src="https://unpkg.com/vue@2.5.2/dist/vue.js"></script>
</head>
<body>
<div id="exercise">
  <button v-on:click="addElem">Add Elm</button>
  <button v-on:click="updateElm">Upd Elm</button>
  <div v-show="showMe">Show me the money</div>
  <div>
    <ul>
      <li v-for="(item, i) in items">{{ item }}({{ i + 1 }})</li>
    </ul>
    <ul>

    </ul>
    <template v-for="(person, i) in persons">
      <li :key="person.name+i">{{ i + 1 }}:
        <span v-for="(value, key) in person">
          <label><strong>{{ key }}</strong></label>
          {{ value }}
        </span>
      </li>
    </template>
  </div>
</div>
</body>
<script>
new Vue({
  el: '#exercise',
  data: {
    items: ['meat','banana','water','icecream'],
    persons: [
      {name: 'hoge', age: 13},
      {name: 'foo', age: 15},
      {name: 'bar', age: 34},
    ],
    showMe: false,
  },
  methods: {
    addElem: function(){
      this.items.push("hoge");
    },
    updateElm: function(){
      this.showMe = !this.showMe;
    }
  }
});
</script>
</html>
